# I want to check how all the data is related to each other

In [1]:
import pandas as pd

# read the dataframes

In [25]:
accident = pd.read_csv("cleaned_data/accident.csv")
person = pd.read_csv("cleaned_data/person.csv")
vehicle = pd.read_csv("cleaned_data/vehicle.csv")

print(accident.shape)
print(vehicle.shape)
print(person.shape)

(44740, 38)
(80224, 46)
(114486, 22)

In [3]:
# let's pick one case number

# lets pick a particular case number 110215644
print("Accident details")
print(accident[(accident.CASENUM == 110215644)])

Accident details
     CASENUM  HOUR_I  MINUTE_I  RELJCT_I  ALIGN_I  PROFIL_I  SURCON_I  \
0  110215644      22        23         0        1         2         1

   TRFCON_I  LGTCON_I  WEATHR_I  ...  NON_INVL  NUM_INJ  PED_ACC  PJ  PSU  \
0         0         2         1  ...         0        0        0   2    2

   SPD_LIM  VEH_INVL  YEAR  NO_INJ_I  ALCHL_I
0       99         1  2001         0        2

[1 rows x 38 columns]

In [4]:
print("____________________")
print("Person Details for this case number")
print(person[(person.CASENUM == 110215644)])

____________________
Person Details for this case number
     CASENUM  PERNO  VEHNO  AGE_H  SEX_H  INJSEV_H  PERALC_H  WEIGHT  \
0  110215644      1      1     46      2         0         1  271.46
1  110215644      2      1     70      2         0         0  271.46

   PER_TYPE  SEAT_POS  ...  HOSPITAL  PER_ALCH  LOCATN  REST_SYS  IMPAIRMT  \
0         1        11  ...         0         1       0         1         0
1         2        13  ...         0         0       0         1         0

   ACTION  SAF_EQMT  AIRBAG  REGION  PJ
0       0         0       9       1   2
1       0         0       9       1   2

[2 rows x 22 columns]

In [5]:
print("____________________")
print("Vehicle Details for this case number")
print(vehicle[(vehicle.CASENUM == 110215644)])

____________________
Vehicle Details for this case number
     CASENUM  WEIGHT  HAZM_NO  MODEL_YR  DAM_AREA  DR_ZIP_C  C_ID_NO  REGION  \
0  110215644  271.46        0      2000     13000     12456        0       1

   HIT_RUN  MAKE  ...  OCC_INVL  PJ  PSU  P_CRASH2  SPEED  VEHNO  IMPACT_H  \
0        0    49  ...         2   2    2        87    999      1         1

   MDLYR_I  MXVSEV_I  V_ALCH_I
0     2000         0         2

[1 rows x 46 columns]

For this case case number = 110215644, there was only a single vehicle involved 2 individuals

# Let's try to analyze for this case number 160325515

In [6]:
# let's pick one case number

# accident will have a single row for sure
# lets pick a particular case number 160325515
print("Accident details")
print(accident[(accident.CASENUM == 160325515)])

Accident details
         CASENUM  HOUR_I  MINUTE_I  RELJCT_I  ALIGN_I  PROFIL_I  SURCON_I  \
34941  160325515      16        50         0        1         2         3

       TRFCON_I  LGTCON_I  WEATHR_I  ...  NON_INVL  NUM_INJ  PED_ACC  PJ  PSU  \
34941         0         1         4  ...         0        8        0   1   11

       SPD_LIM  VEH_INVL  YEAR  NO_INJ_I  ALCHL_I
34941       70        23  2001         8        2

[1 rows x 38 columns]

In [7]:
print("____________________")
print("Person Details for this case number")
print(person[(person.CASENUM == 160325515)])
print(person[(person.CASENUM == 160325515)].shape)

____________________
Person Details for this case number
         CASENUM  PERNO  VEHNO  AGE_H  SEX_H  INJSEV_H  PERALC_H  WEIGHT  \
89982  160325515      1      1     58      1         0         1  19.051
89983  160325515      1      2     49      1         0         1  19.051
89984  160325515      1      3     23      2         0         1  19.051
89985  160325515      1      4     38      1         0         1  19.051
89986  160325515      1      5     23      2         0         1  19.051
89987  160325515      1      6     46      1         0         1  19.051
89988  160325515      1      7     22      2         2         1  19.051
89989  160325515      1      8     48      2         1         1  19.051
89990  160325515      1      9     35      1         0         1  19.051
89991  160325515      1     10     55      1         0         1  19.051
89992  160325515      1     11     57      1         0         1  19.051
89993  160325515      1     12     57      1         0         1  19.051
89994  160325515      1     13     62      1         1         1  19.051
89995  160325515      1     14     27      2         1         1  19.051
89996  160325515      1     15     57      1         1         1  19.051
89997  160325515      1     16     44      2         1         1  19.051
89998  160325515      1     17     71      1         0         1  19.051
89999  160325515      1     18     61      2         1         1  19.051
90000  160325515      1     19     52      2         1         1  19.051
90001  160325515      1     20     63      2         0         1  19.051
90002  160325515      1     21     25      2         0         1  19.051
90003  160325515      1     22     48      2         0         1  19.051
90004  160325515      1     23     47      1         0         1  19.051

       PER_TYPE  SEAT_POS  ...  HOSPITAL  PER_ALCH  LOCATN  REST_SYS  \
89982         1        11  ...         0         1       0         1
89983         1        11  ...         0         1       0         1
89984         1        11  ...         0         1       0         1
89985         1        11  ...         0         1       0         1
89986         1        11  ...         0         1       0         1
89987         1        11  ...         0         1       0         1
89988         1        11  ...         1         1       0         1
89989         1        11  ...         1         1       0         1
89990         1        11  ...         0         1       0         1
89991         1        11  ...         0         1       0         1
89992         1        11  ...         0         1       0         1
89993         1        11  ...         9         8       0         9
89994         1        11  ...         0         1       0         2
89995         1        11  ...         0         1       0         2
89996         1        11  ...         1         1       0         9
89997         1        11  ...         0         1       0         1
89998         1        11  ...         0         1       0         1
89999         1        11  ...         0         1       0         1
90000         1        11  ...         0         1       0         1
90001         1        11  ...         0         1       0         1
90002         1        11  ...         0         1       0         1
90003         1        11  ...         0         1       0         1
90004         1        11  ...         0         1       0         1

       IMPAIRMT  ACTION  SAF_EQMT  AIRBAG  REGION  PJ
89982         0       0         0       2       2   1
89983         0       0         0       2       2   1
89984         0       0         0       0       2   1
89985         0       0         0       0       2   1
89986         0       0         0       1       2   1
89987         0       0         0       0       2   1
89988         0       0         0       1       2   1
89989         0       0         0       1       2   1
89990         0       0         0       0       2   1
89991         0       0         0       0       2   1
89992         0       0         0       2       2   1
89993        99       0         0       9       2   1
89994         0       0         0       0       2   1
89995         0       0         0       2       2   1
89996         0       0         0       2       2   1
89997         0       0         0       2       2   1
89998         0       0         0       0       2   1
89999         0       0         0       2       2   1
90000         0       0         0       2       2   1
90001         0       0         0       2       2   1
90002         0       0         0       1       2   1
90003         0       0         0       2       2   1
90004         0       0         0       0       2   1

[23 rows x 22 columns]
(23, 22)

In [8]:
print("____________________")
print("Vehicle Details for this case number")
print(vehicle[(vehicle.CASENUM == 160325515)])

____________________
Vehicle Details for this case number
         CASENUM  WEIGHT  HAZM_NO  MODEL_YR  DAM_AREA  DR_ZIP_C  C_ID_NO  \
62598  160325515  19.051        0      1997     10000     49234        0
62599  160325515  19.051        0      1994     10000     53209        0
62600  160325515  19.051        0      1991     10000     49002        0
62601  160325515  19.051        0      2001     40000     78840   658570
62602  160325515  19.051        0      2000     40000     49201        0
62603  160325515  19.051        0      1999     40000     60433   146880
62604  160325515  19.051        0      1999     10000     48170        0
62605  160325515  19.051        0      1997     10000     49001        0
62606  160325515  19.051        0      1992     20000     48504        0
62607  160325515  19.051        0      1995     10000     63351   438719
62608  160325515  19.051        0      1997     34000     49201        0
62609  160325515  19.051     9999      9999     99999     99999   999999
62610  160325515  19.051        0      1982     20000     49202        0
62611  160325515  19.051        0      1995     24000     49202        0
62612  160325515  19.051        0      2000     40000     35565        0
62613  160325515  19.051        0      1995     40000     49240        0
62614  160325515  19.051        0      1997     34000     67864   139495
62615  160325515  19.051        0      1999     40000     49259        0
62616  160325515  19.051        0      2000     40000     49203        0
62617  160325515  19.051        0      1996     30000     49201        0
62618  160325515  19.051        0      1991     10000     49085        0
62619  160325515  19.051        0      1993     40000     49240        0
62620  160325515  19.051        0      1986     40000     60045        0

       REGION  HIT_RUN  MAKE  ...  OCC_INVL  PJ  PSU  P_CRASH2  SPEED  VEHNO  \
62598       2        0    18  ...         1   1   11        99    999      1
62599       2        0     6  ...         1   1   11        99    999      2
62600       2        0    12  ...         1   1   11        99    999      3
62601       2        0    82  ...         1   1   11        99    999      4
62602       2        0     7  ...         1   1   11        99    999      5
62603       2        0    86  ...         1   1   11        99    999      6
62604       2        0    23  ...         1   1   11        99    999      7
62605       2        0    37  ...         1   1   11        99    999      8
62606       2        0     9  ...         1   1   11        99    999      9
62607       2        0    23  ...         1   1   11        99    999     10
62608       2        0    20  ...         1   1   11        99    999     11
62609       2        0    99  ...         1   1   11        99    999     12
62610       2        0    21  ...         1   1   11        99    999     13
62611       2        0    20  ...         1   1   11        99    999     14
62612       2        0    12  ...         1   1   11        99    999     15
62613       2        0     9  ...         1   1   11        99    999     16
62614       2        0    85  ...         1   1   11        99    999     17
62615       2        0     7  ...         1   1   11        99    999     18
62616       2        0    20  ...         1   1   11        99    999     19
62617       2        0    24  ...         1   1   11        99    999     20
62618       2        0     7  ...         1   1   11        99    999     21
62619       2        0    12  ...         1   1   11        99    999     22
62620       2        0    12  ...         1   1   11        99    999     23

       IMPACT_H  MDLYR_I  MXVSEV_I  V_ALCH_I
62598         1     1997         0         2
62599         4     1994         0         2
62600         4     1991         0         2
62601         4     2001         0         2
62602         4     2000         0         2
62603         4     1999         0         2
62604         4     1999         2         2
62605         4     1997         1         2
62606         2     1992         0         2
62607         4     1995         0         2
62608         4     1997         0         2
62609         2     1982         0         2
62610         2     1982         1         2
62611         4     1995         1         2
62612         4     2000         1         2
62613         4     1995         1         2
62614         4     1997         0         2
62615         4     1999         1         2
62616         4     2000         1         2
62617         3     1996         0         2
62618         4     1991         0         2
62619         4     1993         0         2
62620         4     1986         0         2

[23 rows x 46 columns]

## Question:- Can there be multiple case number in accident data?

In [9]:
# for accident we have a single CASENUMBER for particlar 
(accident.CASENUM.value_counts() > 1).any()

False

# Answer - No

In [10]:
# Let's check the same for vehicle 
# I am assuming that for a case number there can be multiple vehicle involved

(vehicle.CASENUM.value_counts() > 1).any()

True

In [11]:
duplicate_cases = vehicle.CASENUM.value_counts()
duplicate_cases = duplicate_cases[duplicate_cases > 1]  # Filter cases with count > 1

In [12]:
duplicate_cases

CASENUM
160325515    23
130236944    10
180809192     9
162917987     9
132460321     8
             ..
122275543     2
130245938     2
122275465     2
130235824     2
130235513     2
Name: count, Length: 30568, dtype: int64

In [13]:

print("____________________")
print("Person Details for this case number")
print(person[(person.CASENUM == 130236944)])
print(person[(person.CASENUM == 130236944)].shape)

____________________
Person Details for this case number
         CASENUM  PERNO  VEHNO  AGE_H  SEX_H  INJSEV_H  PERALC_H  WEIGHT  \
30808  130236944      1      1     42      1         0         1   2.701
30809  130236944      1      2     23      1         4         1   2.701
30810  130236944      1      3     19      2         1         1   2.701
30811  130236944      2      3     17      2         1         0   2.701
30812  130236944      1      4     48      1         2         1   2.701
30813  130236944      1      5     20      2         1         1   2.701
30814  130236944      1      6     50      1         0         1   2.701
30815  130236944      1      7     20      1         1         1   2.701
30816  130236944      2      7     41      1         1         0   2.701
30817  130236944      1      8     52      2         2         1   2.701
30818  130236944      1      9     52      2         2         1   2.701
30819  130236944      2      9     18      2         2         0   2.701
30820  130236944      3      9     15      2         2         0   2.701
30821  130236944      1     10     31      2         1         1   2.701
30822  130236944      2     10      9      2         1         0   2.701
30823  130236944      3     10      1      2         1         0   2.701

       PER_TYPE  SEAT_POS  ...  HOSPITAL  PER_ALCH  LOCATN  REST_SYS  \
30808         1        11  ...         0         8       0         9
30809         1        11  ...         0         1       0         1
30810         1        11  ...         1         1       0         1
30811         2        13  ...         1         0       0         1
30812         1        11  ...         1         1       0         5
30813         1        11  ...         1         1       0         1
30814         1        11  ...         0         1       0         1
30815         1        11  ...         0         1       0         2
30816         2        13  ...         0         0       0         1
30817         1        11  ...         1         1       0         0
30818         1        11  ...         1         1       0         1
30819         2        13  ...         1         0       0         1
30820         2        23  ...         1         0       0         1
30821         1        11  ...         1         1       0         1
30822         2        13  ...         0         0       0         1
30823         2        23  ...         1         0       0         6

       IMPAIRMT  ACTION  SAF_EQMT  AIRBAG  REGION  PJ
30808         0       0         0       0       2   4
30809         0       0         0       1       2   4
30810         0       0         0       2       2   4
30811         0       0         0       2       2   4
30812         0       0         0       0       2   4
30813         0       0         0       0       2   4
30814         0       0         0       0       2   4
30815         0       0         0       0       2   4
30816         0       0         0       0       2   4
30817         0       0         0       1       2   4
30818         0       0         0       1       2   4
30819         0       0         0       1       2   4
30820         0       0         0       0       2   4
30821         0       0         0       1       2   4
30822         0       0         0       2       2   4
30823         0       0         0       0       2   4

[16 rows x 22 columns]
(16, 22)

In [14]:
print("____________________")
print("Vehicle Details for this case number")
print(vehicle[(vehicle.CASENUM == 130236944)])

____________________
Vehicle Details for this case number
         CASENUM  WEIGHT  HAZM_NO  MODEL_YR  DAM_AREA  DR_ZIP_C  C_ID_NO  \
21367  130236944   2.701        0      1988     19999     48186   994131
21368  130236944   2.701        0      1993     39999     48125        0
21369  130236944   2.701        0      1983     19999     48180        0
21370  130236944   2.701        0      2001     39999     48146        0
21371  130236944   2.701        0      1990     12999     48125        0
21372  130236944   2.701        0      1989     19999     48180        0
21373  130236944   2.701        0      1990     13999     48179        0
21374  130236944   2.701        0      1994     19999     48188        0
21375  130236944   2.701        0      2000     13999     48126        0
21376  130236944   2.701        0      1991     10000     48101        0

       REGION  HIT_RUN  MAKE  ...  OCC_INVL  PJ  PSU  P_CRASH2  SPEED  VEHNO  \
21367       2        0    85  ...         1   4   10        17    999      1
21368       2        0    12  ...         1   4   10        66    999      2
21369       2        0    20  ...         2   4   10        78      0      3
21370       2        0    37  ...         1   4   10        78      0      4
21371       2        0    12  ...         1   4   10        78      0      5
21372       2        0    20  ...         1   4   10        78      0      6
21373       2        0     7  ...         2   4   10        78      0      7
21374       2        0    58  ...         1   4   10        78      0      8
21375       2        0    20  ...         3   4   10        78      0      9
21376       2        0    12  ...         3   4   10        78      0     10

       IMPACT_H  MDLYR_I  MXVSEV_I  V_ALCH_I
21367         1     1988         0         2
21368         3     1993         4         2
21369         1     1983         1         2
21370         3     2001         2         2
21371         1     1990         1         2
21372         1     1989         0         2
21373         1     1990         1         2
21374         1     1994         2         2
21375         1     2000         2         2
21376         1     1991         1         2

[10 rows x 46 columns]

 # Ok let's try to merge the data now

In [15]:
# we'll merge accident and vehicle data

common_columns = list(set(accident.columns) & set(vehicle.columns))

# Print the common columns
print("Common columns:", common_columns)

Common columns: ['WEIGHT', 'PJ', 'CASENUM', 'PSU', 'REGION']

In [63]:
# we'll merge accident and vehicle data

common_columns = list(set(accident.columns) & set(person.columns))

# Print the common columns
print("Common columns:", common_columns)

Common columns: ['CASENUM', 'WEIGHT', 'PJ', 'REGION']

In [64]:
# we'll merge accident and vehicle data

common_columns = list(set(vehicle.columns) & set(person.columns))

# Print the common columns
print("Common columns:", common_columns)

Common columns: ['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION']

Region column analysis

In [16]:
"""print(vehicle[(vehicle.CASENUM == 160325515)]['PSU'].unique())
print(accident[(accident.CASENUM == 160325515)]['PSU'].unique())


print(vehicle[(vehicle.CASENUM == 160325515)]['PJ'].unique())
print(accident[(accident.CASENUM == 160325515)]['PJ'].unique())

print(vehicle[(vehicle.CASENUM == 160325515)]['REGION'].unique())
print(accident[(accident.CASENUM == 160325515)]['REGION'].unique())
"""
accident_sample = accident[["CASENUM","REGION"]]
vehicle_sample = vehicle[["CASENUM","REGION"]]

# Group vehicle_sample by 'CASENUM' and stack the 'REGION' values into a list
grouped_vehicle_sample = vehicle_sample.groupby('CASENUM')['REGION'].agg(lambda x: set(x)).reset_index()

# Display the result
#print(grouped_vehicle_sample)

# Filter rows where the length of the 'REGION' set is greater than 1
multiple_regions = grouped_vehicle_sample[grouped_vehicle_sample['REGION'].apply(len) > 1]

# Display the result
print(multiple_regions)

Empty DataFrame
Columns: [CASENUM, REGION]
Index: []

PJ column analysis

In [17]:

accident_sample = accident[["CASENUM","PJ"]]
vehicle_sample = vehicle[["CASENUM","PJ"]]

# Group vehicle_sample by 'CASENUM' and stack the 'REGION' values into a list
grouped_vehicle_sample = vehicle_sample.groupby('CASENUM')['PJ'].agg(lambda x: set(x)).reset_index()

# Display the result
#print(grouped_vehicle_sample)

# Filter rows where the length of the 'REGION' set is greater than 1
multiple_regions = grouped_vehicle_sample[grouped_vehicle_sample['PJ'].apply(len) > 1]

# Display the result
print(multiple_regions)

Empty DataFrame
Columns: [CASENUM, PJ]
Index: []

PSU column analysis

In [18]:

accident_sample = accident[["CASENUM","PSU"]]
vehicle_sample = vehicle[["CASENUM","PSU"]]

# Group vehicle_sample by 'CASENUM' and stack the 'REGION' values into a list
grouped_vehicle_sample = vehicle_sample.groupby('CASENUM')['PSU'].agg(lambda x: set(x)).reset_index()

# Display the result
#print(grouped_vehicle_sample)

# Filter rows where the length of the 'REGION' set is greater than 1
multiple_regions = grouped_vehicle_sample[grouped_vehicle_sample['PSU'].apply(len) > 1]

# Display the result
print(multiple_regions)

Empty DataFrame
Columns: [CASENUM, PSU]
Index: []

so in vehicle and accident data ['PSU', 'REGION', 'PJ', 'WEIGHT', 'CASENUM'] columns resembles the same values

In [19]:
# taking accident on left and vehicle on right we can do a left join on ['PSU', 'REGION', 'PJ', 'WEIGHT', 'CASENUM'] these columns 

# Perform a left join on the specified columns
merged_data_accident_vehicle = pd.merge(accident, vehicle, on=['PSU', 'REGION', 'PJ', 'WEIGHT', 'CASENUM'], how='left')

print(merged_data_accident_vehicle.shape)
# Display the result

(80224, 79)

In [20]:
merged_data_accident_vehicle.to_csv("cleaned_data/merged_data_accident_vehicle.csv",index=False)

In [ ]:
# check for null values
t1 = tuple(zip(list(merged_data_accident_vehicle.columns),list(merged_data_accident_vehicle.isna().sum())))
print([(col, missing) for col, missing in t1 if missing > 0])


# There are no null values

[]

## we have 80224 rows which is equal to vehicle shape, thus we can say that the data was joined completely without anything left in the vehicles dataframe

now we need to merge the `merged_data_accident_vehicle` with `person` table

In [21]:
# we'll merge accident and vehicle data

common_columns = list(set(merged_data_accident_vehicle.columns) & set(person.columns))

# Print the common columns
print("Common columns:", common_columns)

Common columns: ['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION']

In [22]:

accident_sample = merged_data_accident_vehicle[["CASENUM","PJ"]]
vehicle_sample = person[["CASENUM","PJ"]]

# Group vehicle_sample by 'CASENUM' and stack the 'REGION' values into a list
grouped_vehicle_sample = vehicle_sample.groupby('CASENUM')['PJ'].agg(lambda x: set(x)).reset_index()

# Display the result
#print(grouped_vehicle_sample)

# Filter rows where the length of the 'REGION' set is greater than 1
multiple_regions = grouped_vehicle_sample[grouped_vehicle_sample['PJ'].apply(len) > 1]

# Display the result
print(multiple_regions)

Empty DataFrame
Columns: [CASENUM, PJ]
Index: []

In [23]:

accident_sample = merged_data_accident_vehicle[["CASENUM","REGION"]]
vehicle_sample = person[["CASENUM","REGION"]]

# Group vehicle_sample by 'CASENUM' and stack the 'REGION' values into a list
grouped_vehicle_sample = vehicle_sample.groupby('CASENUM')['REGION'].agg(lambda x: set(x)).reset_index()

# Display the result
#print(grouped_vehicle_sample)

# Filter rows where the length of the 'REGION' set is greater than 1
multiple_regions = grouped_vehicle_sample[grouped_vehicle_sample['REGION'].apply(len) > 1]

# Display the result
print(multiple_regions)

Empty DataFrame
Columns: [CASENUM, REGION]
Index: []

ok I can see both region and pj are have same data values, thus we can use all these to join the data

In [54]:
# taking accident on left and vehicle on right we can do a left join on ['PSU', 'REGION', 'PJ', 'WEIGHT', 'CASENUM'] these columns 

# Perform a left join on the specified columns
final_merge = pd.merge(merged_data_accident_vehicle, person, on=['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION'], how='left')

print(final_merge.shape)
# Display the result

(112154, 96)

In [ ]:
114486-112154

2332

In [33]:
# check for null values
t1 = tuple(zip(list(final_merge.columns),list(final_merge.isna().sum())))
print([(col, missing) for col, missing in t1 if missing > 0])


# There are no null values

[('PERNO', 159), ('AGE_H', 159), ('SEX_H', 159), ('INJSEV_H', 159), ('PERALC_H', 159), ('PER_TYPE', 159), ('SEAT_POS', 159), ('EJECT', 159), ('SEX', 159), ('HOSPITAL', 159), ('PER_ALCH', 159), ('LOCATN', 159), ('REST_SYS', 159), ('IMPAIRMT', 159), ('ACTION', 159), ('SAF_EQMT', 159), ('AIRBAG', 159)]

In [61]:
# Filter rows where the 'PERSONID' is NaN (indicating no match)
unjoined_rows = final_merge[final_merge['PERNO'].isna()]

# Display the unjoined rows
print(unjoined_rows)

          CASENUM  HOUR_I  MINUTE_I  RELJCT_I  ALIGN_I  PROFIL_I  SURCON_I  \
1496    110218576      20        35         2        1         1         1
1638    110218850      18        35         1        1         2         1
1890    110219251      17        19         0        1         2         1
2831    110672913       6        23         0        1         1         1
3486    110676327      16         0         0        1         1         1
...           ...     ...       ...       ...      ...       ...       ...
106680  180907055      21         0         3        1         2         2
107453  181111786       5        41         0        1         1         2
108082  182128549      10        20         0        1         1         1
111476  188466213      22         3         0        1         1         1
111748  198143005       6        30         2        1         1         2

        TRFCON_I  LGTCON_I  WEATHR_I  ...  EJECT  SEX  HOSPITAL  PER_ALCH  \
1496           1         3         1  ...    NaN  NaN       NaN       NaN
1638          28         2         1  ...    NaN  NaN       NaN       NaN
1890          28         2         1  ...    NaN  NaN       NaN       NaN
2831           0         4         1  ...    NaN  NaN       NaN       NaN
3486           0         1         1  ...    NaN  NaN       NaN       NaN
...          ...       ...       ...  ...    ...  ...       ...       ...
106680         0         3         1  ...    NaN  NaN       NaN       NaN
107453         0         4         2  ...    NaN  NaN       NaN       NaN
108082         0         1         1  ...    NaN  NaN       NaN       NaN
111476         0         3         1  ...    NaN  NaN       NaN       NaN
111748         0         2         1  ...    NaN  NaN       NaN       NaN

        LOCATN  REST_SYS  IMPAIRMT  ACTION  SAF_EQMT  AIRBAG
1496       NaN       NaN       NaN     NaN       NaN     NaN
1638       NaN       NaN       NaN     NaN       NaN     NaN
1890       NaN       NaN       NaN     NaN       NaN     NaN
2831       NaN       NaN       NaN     NaN       NaN     NaN
3486       NaN       NaN       NaN     NaN       NaN     NaN
...        ...       ...       ...     ...       ...     ...
106680     NaN       NaN       NaN     NaN       NaN     NaN
107453     NaN       NaN       NaN     NaN       NaN     NaN
108082     NaN       NaN       NaN     NaN       NaN     NaN
111476     NaN       NaN       NaN     NaN       NaN     NaN
111748     NaN       NaN       NaN     NaN       NaN     NaN

[159 rows x 96 columns]

In [58]:
# get case numbers of unjoined rows

print("For these case numbers we actually dont have any information in person column")
unjoined_rows["CASENUM"].unique()

For these case numbers we actually dont have any information in person column

array([110218576, 110218850, 110219251, 110672913, 110676327, 110756562,
       110757472, 113421563, 114920633, 114924743, 115319148, 116657805,
       117032669, 117033448, 117033827, 117576518, 117577465, 117579238,
       117579326, 117579337, 117581005, 117581941, 117583844, 117588748,
       117589168, 118832502, 120410830, 120412365, 120709897, 120851067,
       120852123, 120852953, 120854449, 120857183, 120866983, 120872395,
       121229052, 121230048, 121230435, 121970681, 121972063, 122274519,
       122280189, 122285702, 129926203, 130020558, 130021703, 130226355,
       130230035, 130230347, 130237806, 130238759, 130240032, 130244454,
       130246639, 130464392, 130599448, 130605297, 130610116, 130610980,
       130614259, 130631564, 130632071, 130734063, 131114885, 131246081,
       131251250, 131356980, 131357864, 131361884, 131407843, 131408948,
       131409110, 131572947, 131582931, 131618271, 131621294, 131720780,
       131722196, 131722230, 131724894, 131725683, 131837953, 131844984,
       131845201, 131917733, 131918402, 132026422, 132028055, 132029201,
       132154699, 132164016, 132164141, 132165106, 132257191, 132257975,
       132329994, 132458043, 132547584, 132550201, 132551568, 132681665,
       132684410, 132698483, 132710764, 141207356, 147715751, 147718133,
       147718717, 147720809, 153509482, 153509547, 153510289, 153513383,
       153514938, 159629851, 159639508, 159641537, 160324867, 160330732,
       160419555, 160716534, 160817291, 160820330, 161012528, 161805934,
       161806592, 162009904, 162711202, 162758788, 162856675, 162857550,
       163129541, 163330987, 163710004, 163710164, 164418111, 164513709,
       164514898, 164620716, 164620863, 164621144, 164622406, 164917288,
       165710496, 165811047, 166257664, 166353503, 180623441, 180907055,
       181111786, 182128549, 188466213, 198143005])

In [62]:
print("person")
print(person[(person.CASENUM == 110218576)][['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION']])

person
      WEIGHT  PJ    CASENUM  VEHNO  REGION
1509  89.853  10  110218576      2       1

In [59]:
caseno = 110218576
print(caseno)
print("vehicle")
print(vehicle[(vehicle.CASENUM == caseno)][['WEIGHT', 'CASENUM', 'VEHNO', 'REGION','PJ']])
print("--------------------------------")
print("accident")
print(accident[(accident.CASENUM == caseno)][['WEIGHT', 'PJ', 'CASENUM', 'REGION']])
print("--------------------------------")
print("person")
print(person[(person.CASENUM == caseno)][['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION']])
print("--------------------------------")
print("merged_data_accident_vehicle")
print(merged_data_accident_vehicle[(merged_data_accident_vehicle.CASENUM == caseno)][['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION']])
print("--------------------------------")
print("final_merge")
print(final_merge[(final_merge.CASENUM == caseno)][['WEIGHT', 'PJ', 'CASENUM', 'VEHNO', 'REGION']])

110218576
vehicle
      WEIGHT    CASENUM  VEHNO  REGION  PJ
1047  89.853  110218576      1       1  10
1048  89.853  110218576      2       1  10
--------------------------------
accident
     WEIGHT  PJ    CASENUM  REGION
677  89.853  10  110218576       1
--------------------------------
person
      WEIGHT  PJ    CASENUM  VEHNO  REGION
1509  89.853  10  110218576      2       1
--------------------------------
merged_data_accident_vehicle
      WEIGHT  PJ    CASENUM  VEHNO  REGION
1047  89.853  10  110218576      1       1
1048  89.853  10  110218576      2       1
--------------------------------
final_merge
      WEIGHT  PJ    CASENUM  VEHNO  REGION
1496  89.853  10  110218576      1       1
1497  89.853  10  110218576      2       1

In [68]:
# let's just remove the null values

final_merge_ = final_merge.dropna()

In [69]:
final_merge_.columns

Index(['CASENUM', 'HOUR_I', 'MINUTE_I', 'RELJCT_I', 'ALIGN_I', 'PROFIL_I',
       'SURCON_I', 'TRFCON_I', 'LGTCON_I', 'WEATHR_I', 'MANCOL_I', 'EVENT1_I',
       'WEIGHT', 'MONTH', 'WEEKDAY', 'REGION', 'LAND_USE', 'INT_HWY',
       'REL_RWY', 'TRAF_WAY', 'ALIGN', 'PROFILE', 'WEATHER', 'SCHL_BUS',
       'WRK_ZONE', 'ALCOHOL', 'NUM_LAN', 'HOUR', 'NON_INVL', 'NUM_INJ',
       'PED_ACC', 'PJ', 'PSU', 'SPD_LIM', 'VEH_INVL', 'YEAR', 'NO_INJ_I',
       'ALCHL_I', 'HAZM_NO', 'MODEL_YR', 'DAM_AREA', 'DR_ZIP_C', 'C_ID_NO',
       'HIT_RUN', 'MAKE', 'BODY_TYP', 'SPEC_USE', 'EMCY_USE', 'FACTOR',
       'TRAILER', 'JACKNIFE', 'FIRE', 'VEH_SEV', 'TOWED', 'P_CRASH1',
       'VEH_ROLE', 'ACC_TYPE', 'IMPACT', 'P_CRASH3', 'PCRASH4', 'PCRASH5',
       'ROLLOVER', 'VIOLATN', 'VIS_OBSC', 'DR_DSTRD', 'SPEEDREL', 'V_EVENT',
       'VEH_ALCH', 'MAX_VSEV', 'MHENUM', 'NUMOCCS', 'OCC_INVL', 'P_CRASH2',
       'SPEED', 'VEHNO', 'IMPACT_H', 'MDLYR_I', 'MXVSEV_I', 'V_ALCH_I',
       'PERNO', 'AGE_H', 'SEX_H', 'INJSEV_H', 'PERALC_H', 'PER_TYPE',
       'SEAT_POS', 'EJECT', 'SEX', 'HOSPITAL', 'PER_ALCH', 'LOCATN',
       'REST_SYS', 'IMPAIRMT', 'ACTION', 'SAF_EQMT', 'AIRBAG'],
      dtype='object')

In [70]:
import pandas as pd

# Dictionary with column names as keys and values to be removed
remove_values = {
    'LGTCON_I': 8, 'WEATHR_I': 9, 'MANCOL_I': 9, 'WEEKDAY': 9, 'LAND_USE': 9, 
    'MAN_COL': 9, 'INT_HWY': 9, 'REL_JCT': 98, 'REL_RWY': 98, 'ALIGN': 9, 
    'PROFILE': 9, 'SUR_COND': 9, 'TRAF_CON': 9, 'LGHT_CON': 8, 'WEATHER': 9, 
    'ALCOHOL': 9, 'NUM_LAN': 9, 'EVENT1': 99, 'HOUR': 99, 'MINUTE': 99, 
    'NUM_INJ': 99, 'VEHNO': 99, 'INJSEV_H': 99, 'SEAT_H': 8, 'PER_TYPE': 99, 
    'SEAT_POS': 3, 'EJECT': 9, 'SEX': 9, 'HOSPITAL': 9, 'PER_ALCH': 99, 
    'LOCATN': 9, 'REST_SYS': 9, 'PER_DRUG': 99, 'IMPAIRMT': 99, 'ACTION': 9, 
    'SAF_EQMT': 9, 'REGION': 99, 'STR_VEH': 3, 'VIN': 999, 'HAZM_NO': 999, 
    'DAM_AREA': 9, 'HIT_RUN': 9, 'SPEC_USE': 99, 'EMCY_USE': 9, 'FACTOR': 99, 
    'TRAILER': 6, 'VEH_SEV': 9, 'TOWED': 9, 'P_CRASH1': 99, 'VEH_ROLE': 9, 
    'P_CRASH3': 99, 'PCRASH5': 99, 'CARG_TYP': 99, 'DR_PRES': 9, 'VIOLATN': 96, 
    'VIS_OBSC': 96, 'DRMAN_AV': 96, 'DR_DSTRD': 96, 'SPEEDREL': 9, 'VEH_ALCH': 9, 
    'MAX_VSEV': 9, 'NUMOCCS': 999, 'OCC_INVL': 97, 'SPEED': 999, 'VROLE_I': 9, 
    'V_EVNT_H': 99
}

# Loop over the dictionary to filter rows based on column names and values
for column, value in remove_values.items():
    if column in final_merge_.columns:
        final_merge_cleaned = final_merge_[final_merge_[column] != value]

# The filtered dataframe is now in final_merge
final_merge_cleaned.shape

(50967, 96)